<%- include('../partials/header.html'); %>

<section class="item-header">
    <h1 class="title">collection</h1>
    <a class="btn info" href="/collection/new">add new item</a>
</section>
<section class="items">
    <% items.forEach(item => { %>
        <% if(user && item.author === user.username) { %>
            <div class="item">
                <h2 class="name"><%= item.name %></h4>
                <p class="about-info">last used</p>
                <h3 class="days"><%= moment().date() - moment(item.created).date() %></h3>
                <p class="about-info">days ago</p>
                <a class="btn info" href="/collection/<%= item.id %>">more info</a>
                <form class="form-button" action="/collection/<%= item.id %>/reset" method="POST">
                    <input class="btn submit" type="submit" value="use today">
                </form>
            </div>
        <% } %>
    <% }); %>
</section>

<%- include('../partials/footer.html'); %>
