<% include ../partials/header %>
<h1 class="title">add new item</h1>
<form action="/collection" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="quantity" placeholder="quantity">
    <input type="text" name="notes" placeholder="notes">
    <div class="buttons">
        <a class="btn go-back" href="/collection">go back</a>
        <input class="btn submit" type="submit" value="submit">
    </div>
</form>
<% include ../partials/footer %>
