<!DOCTYPE html>
<html>
<head>
    <title>minima_list</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="/stylesheets/normalize.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="menu">
        <ul>
            <li><a href="/landing">index</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/items/index">collection</a></li>
            <li><a href="/landing">sign out</a></li>
        </ul>
    </nav>
</header>
