<!DOCTYPE html>
<html>
<head>
    <title>minima_list</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="/stylesheets/normalize.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/landing">index</a></li>
            <li><a href="/about">about</a></li>
            <% if(!currentUser) { %>
                <li><a href="/demo">demo</a></li>
                <li><a href="/signup">sign up</a></li>
                <li><a href="/login">login</a></li>
            <% } else { %>
                <li><a href="#"><% currentUser.username %></a></li>
                <li><a href="/logout">logout</a></li>
            <% } %>
        </ul>
    </nav>
    <section class="flash">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </section>
</header>
