<% include ../partials/header %>
<section class="demo-header">
    <h2 class="subtitle">demo</h2>
    <a class="btn" href="/demo/new">add new item</a>
</section>
<section class="item">
    <% items.forEach(function(item) { %>
        <% if(currentUser && item.author.id.equals(currentUser._id)) { %>
            <div class="card">
                <h4 class="name"><%= item.name %></h4>
                <a class="btn" href="/demo/<%= item._id %>">more info</a>
            </div>
        <% } %>
    <% }); %>
</section>
<% include ../partials/footer %>
