<%- include('partials/header.html'); %>

<h1 class="title">about</h1>
<p class="about-info">
    minima_list is a system that contains an inventory of everything you own.
    <br>
    It is a project for people who wish to follow a form of a minimalist lifestyle
    by tracking what they use on a daily basis.
    <br>
    If you find that you have difficulty in figuring out which items you use much
    or not use at all, this tool will highlight how often an item is used and
    determines whether something should be discarded to help lead a minimal life. 
    <br>
    It can add or remove an item from the inventory. 
    You can also submit an item with a title, a description, or an image.
    It will also inform you which objects you have not used for a while. 
</p>

<%- include('partials/footer.html'); %>
