<% include partials/header %>
<section class="billboard">
    <h1 class="title">minima<span class="bar">_</span>list</h1>
    <h3 class="slogan">organize and track what you use</h3>
</section>
<% include partials/footer %>
