<% include partials/header %>
<section>
    <h2 class="subtitle">login</h2>
    <form action="" method="post">
        <input class="username" type="text" name="username" placeholder="username">
        <input class="password" type="password" name="password" placeholder="password">
        <button class="submit" type="submit" name="submit">submit</button>
    </form>
</section>
<% include partials/footer %>
