/* Default */
body {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: #2f3542;
    margin: 30px;
}

/* Header */
nav a:link, nav a:visited, nav a:active {
    color: #2f3542;
    text-decoration: none;
}
nav a:hover { text-decoration: underline; }
nav { text-align: center; }
nav li {
    display: inline;
    padding-right: 15px;
}

/* Landing Page */
.billboard {
    margin-top: 280px;
    text-align: center;
}
.bar { color: #2ed573; }
.title, .subtitle {
    font-size: 50px;
    margin: 20px 0;
}
.description { line-height: 1.5; }

/* Demo & Items Page */
.demo-header .subtitle { display: inline-block; }

/* Item Card */
.item .card {
    padding: 10px;
    margin: 10px;
    border: 1px solid #2f3542;
}
.item .name {
    font-size: 40px;
    display: inline;
}

/* Form */
input, .btn {
    border: none;
    border-bottom: 2px solid #2f3542;
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    padding: 20px;
    background-color: transparent;
    color: #2f3542;
    text-decoration: none;
}
input[value="submit"] {
    display: inline;
    border-color: #2ed573;
}
input[value="delete"] {
    display: inline;
    border-color: #d50000;
}
.btn {
    display: inline-block;
    border-color: #1E88EA;
}
.btn[href="/collection"] {
    display: inline-block;
    border-color: #ff9f1a;
}
.form-delete { display: inline; }

/* Flash Messages */
.flash {
    text-align: center;
    margin-bottom: 20px;
}
.flash-error { color: #d50000; }
.flash-success { color: #2ed573; }
