/* DEFAULT */
body {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: #2f3542;
    margin: 30px;
}

/* LINKS */
a:link, a:visited, a:active {
    color: #2f3542;
    text-decoration: none;
}
a:hover { text-decoration: underline; }

/* HEADER */
nav { text-align: center; }
nav li {
    display: inline;
    padding-right: 15px;
}

/* LANDING PAGE - BODY */
.billboard {
    margin-top: 280px;
    text-align: center;
}
.bar { color: #2ed573; }
.title, .subtitle {
    font-size: 50px;
    margin: 20px 0;
}
.description { line-height: 1.5; }

/* DEMO & ITEMS PAGE */
.demo-header .subtitle {
    display: inline-block;
}

/* ITEM CARD */
.item .card {
    padding: 10px;
    margin: 10px;
    border: 1px solid #2f3542;
}
.item .name {
    font-size: 40px;
    display: inline;
}
.item .card a {
    float: right;
}

/* FORM */
input[name="username"], input[name="password"], .submit {
    border: none;
    border-bottom: 2px solid #2f3542;
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    padding: 20px;
}
.submit {
    background-color: transparent;
    border-bottom: 2px solid #2ed573;
    color: #2f3542;
}
