/* DEFAULT STYLES ---------------------*/
body {
    color: #2f3542;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    min-width: 345px;
}
.title { 
    font-size: 30px; 
    margin: 5px 0;
}
.slogan, .name, .description { font-size: 15px; }
.description { 
    text-align: left;
    line-height: 1.5; 
    margin: 0 20px;
}

/* LINKS ------------------------------*/
a {
    cursor: pointer;
    display: block;
    color: #2f3542;
    text-decoration: none;
}

/* MENU -------------------------------*/
nav li {
    font-size: 15px;
    display: block;
    margin: 25px 18px;
}
nav a:hover { text-decoration: underline; }

/* FLASH MESSAGES ---------------------*/
.flash {
    font-size: 15px;
    text-align: center;
    padding: 20px;
}
.flash-error { 
    color: #d50000; 
    background-color: #FFCDD2;
}
.flash-success { 
    color: #2ed573; 
    background-color: #B9F6CA;
}

/* LANDING PAGE -----------------------*/
.billboard { margin-top: 200px; }
.underscore { 
    color: #2ed573; 
    background-color: #B9F6CA;
}

/* FORM -------------------------------*/
form {
    margin: 0 auto;
    width: 100%;
}
input, .btn {
    display: block;
    width: 100%;
    padding: 12px 10px;
    color: #2f3542;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #2f3542;
}
input[value="submit"] { 
    border-color: #2ed573; 
    background-color: #B9F6CA;
}
input[value="delete"] { 
    border-color: #d50000; 
    background-color: #FFCDD2;
}
.btn { 
    display: inline-block;
    border-color: #1E88EA; 
    background-color: #E1F5FE;
    padding: 12px 0;
}
.btn[href="/collection"] { 
    border-color: #ff9f1a; 
    background-color: #FFE0B2;
}
.form-delete { display: inline; }

/* ITEM CARD --------------------------*/
.items {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin: 15px 15px;
}
.item {
    width: 100%; 
    background-color: #E1F5FE;
}
.name { padding-top: 12px; }

/* MIN-WIDTH: 390PX -------------------*/
@media all and (min-width: 565px ) {
    .title {
        font-size: 50px;
        margin: 20px 0;
    }
    nav li { display: inline-block; }
    input, .btn, nav li, .slogan, .item .flash, .name, .description { font-size: 25px; }
    input, .btn { padding: 22px 20px; }
    .btn { padding: 22px 0; }
}
