<% include ../partials/header %>
<section class="container">
    <header>
        <h2 class="subtitle">demo</h2>
        <p>
            <a class="button" href="/items/new">Add New Item</a>
        </p>
    </header>
</section>
<% include ../partials/footer %>
